@model Note

<div class="col-md-8 mb-3">
    <div class="card" style="width: 34rem;">
        <img src="img/@Model.Image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Owner</h5>
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Text</p>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
        </div>
        <div class="row col-md-12">
            <p class="col-md-6">
                @*<span></span>*@&nbsp;
                @if (@Model.LikeCount > 0)
                {
                    <i class="fas fa-heart"></i> @Model.LikeCount
                }
                else
                {
                    //TODO: @Model.LikeCount will delete
                    <i class="far fa-heart"></i> @Model.LikeCount
                }
                @* TODO: Fix comment button position *@
                <i class="far fa-thumbs-up"></i>
            </p>
            <p class="col-md-6 text-right">
                <a href="#" class="btn btn-primary">Yorumlar</a>
            </p>
        </div>
    </div>
</div>